@charset "UTF-8";

@import "components/normalize";
@import "components/prefixer";
@import "components/variables";
@import "components/objects";
@import "components/mixins";
// @import "components/element-ui-overrides";
@import "components/animations";
@import "components/svg";
// @import "components/minireset";
// @import "components/bootstrap-overrides";

// vue-select
// https://vue-select.org/guide/css.html#scss-variables
$vs-component-line-height: 1.8;
$vs-controls-size: .8;
$vs-border-color: #ced4da;
@import "vue-select/src/scss/vue-select.scss";


// importing Bootstrap SCSS
// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);
$enable-rounded: true;


// https://bootstrap-vue.org/docs/reference/color-variants#color-variants-and-css-class-mapping
$white: #fff;
$gray-100: #ebedef;
$gray-200: #d8dbe0;
$gray-300: #c4c9d0;
$gray-400: #b1b7c1;
$gray-500: #9da5b1;
$gray-600: #8a93a2;
$gray-700: #768192;
$gray-800: #636f83;
$gray-900: #4f5d73;
$black: #000;

$blue: #3399ff;
$red: #e55353;
$yellow: #f9b115;
$green: #2eb85c;

// Theme color default definitions
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $gray-500;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// trying to import the least amount of bootstrap stuff while I refactor to tailwind
// @import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';
@import "bootstrap/scss/_root";
// @import "bootstrap/scss/_reboot";
// @import "bootstrap/scss/_type";
// @import "bootstrap/scss/_images";
// @import "bootstrap/scss/_code";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
// @import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
// @import "bootstrap/scss/_button-group";
// @import "bootstrap/scss/_input-group";
// @import "bootstrap/scss/_custom-forms";
// @import "bootstrap/scss/_nav";
// @import "bootstrap/scss/_navbar";
// @import "bootstrap/scss/_card";
// @import "bootstrap/scss/_breadcrumb";
// @import "bootstrap/scss/_pagination";
// @import "bootstrap/scss/_badge";
// @import "bootstrap/scss/_jumbotron";
// @import "bootstrap/scss/_alert";
// @import "bootstrap/scss/_progress";
// @import "bootstrap/scss/_media";
// @import "bootstrap/scss/_list-group";
// @import "bootstrap/scss/_close";
// @import "bootstrap/scss/_toasts";
@import "bootstrap/scss/_modal";
// @import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_popover";
// @import "bootstrap/scss/_carousel";
// @import "bootstrap/scss/_spinners";
// @import "bootstrap/scss/_utilities";
// @import "bootstrap/scss/_print";

// @import "bootstrap/scss/utilities/_align";
@import "bootstrap/scss/utilities/_background";
// @import "bootstrap/scss/utilities/_borders";
@import "bootstrap/scss/utilities/_clearfix";
@import "bootstrap/scss/utilities/_display";
// @import "bootstrap/scss/utilities/_embed";
// @import "bootstrap/scss/utilities/_flex";
// @import "bootstrap/scss/utilities/_float";
// @import "bootstrap/scss/utilities/_interactions";
// @import "bootstrap/scss/utilities/_overflow";
// @import "bootstrap/scss/utilities/_position";
// @import "bootstrap/scss/utilities/_screenreaders";
// @import "bootstrap/scss/utilities/_shadows";
// @import "bootstrap/scss/utilities/_sizing";
// @import "bootstrap/scss/utilities/_spacing";
// @import "bootstrap/scss/utilities/_stretched-link";
// @import "bootstrap/scss/utilities/_text";
// @import "bootstrap/scss/utilities/_visibility";


@import 'bootstrap-vue/src/index.scss';
@import "components/bootstrap-overrides";
// end importing Bootstrap SCSS


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

body {
  color: $colorGrayDarker;
  font-size: 16px;
  font-weight: $weight-normal;
  line-height: 1.5;
}

body,
button,
input,
select,
textarea {
  font-family: $family-sans-serif
}

a {
  color: $colorBlue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $colorBlue;
    text-decoration: underline;
  }
}

hr {
  background-color: hsl(0, 0%, 86%);
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

label {
    margin-bottom: 0;

    &.required:after {
        color: #b31703 !important;
        content: " *"
    }
}

svg {
  display: inline-block;
//   vertical-align: baseline;
//   margin-bottom: -2px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .35s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
 .clearfix::before,
 .clearfix::after {
   content: "";
   display: table;
}

 .clearfix::after {
   clear: both;
}

ul.disc {
    list-style-type: disc;
    list-style-position: outside;
}

[v-cloak] {
    display: none
}


.pageContainerMax {
    padding: 20px 20px 100px 20px;
    width: 100%;
}
@media #{$only-screen-and-min-width-m}  {
    .pageContainerMax {
        max-width: 1192px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media #{$only-screen-and-max-width-s}  {
    .pageContainerMax {
        padding: 20px 10px;
    }
}

.pageContainerMaxSkinny {
    max-width: 700px !important;
}


.form-validation-error {
    color: $colorRed;
    font-size: 12px;
}





.player {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    .wrapper {
        height: 0;
        max-width: 1000px;
        z-index: 0;
        top: 0;
        left: 0;
        padding-bottom: 56.25%;
        margin: 0 auto;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 1s,visibility 0s linear 0s;
      }
    }
}


[role="alert"] {
    color: $colorRed;
}

.g-spec,
.g-spec-locked {
    display: block;

    &.no-zebra {
        background-color: inherit !important;
    }

    .g-spec-label {
        color: #6f6f6f;
        font-size: 16px;
        display: block;
        padding: 10px 20px;
        border-right: 0;
        border-bottom: 1px solid $borderColorGray;
        vertical-align: top;
        font-weight: 600;
        word-wrap: break-word;

        &.no-line {
            border: 0 !important;
        }
    }

    .g-spec-content {
        display: block;
        padding: 10px 20px 10px 40px;
        vertical-align: top;
    }
}

@media #{$medium-and-up} {
    .g-spec {
        display: table-row;

        &:nth-child(even) {
            background-color: $bgGrayZebra;
        }

        .g-spec-label {
            font-size: 18px;
            display: table-cell;
            padding: 20px;
            border-right: 1px solid $borderColorGray;
            border-bottom: 0;
            vertical-align: top;
        }

        .g-spec-content {
            display: table-cell;
            padding: 20px;
            vertical-align: top;
        }
    }
}



.grow {
   @include grow()
}
.grow:hover {
    @include growHover()
}
