@import "components/variables";

.g-spec,
.g-spec-locked {
    display: block;

    &.no-zebra {
        background-color: inherit !important;
    }

    .g-spec-label {
        color: #6f6f6f;
        font-size: 16px;
        display: block;
        padding: 10px 20px;
        border-right: 0;
        border-bottom: 1px solid #dfdedf;
        vertical-align: top;
        font-weight: 600;
        word-wrap: break-word;

        &.no-line {
            border: 0 !important;
        }
    }

    .g-spec-content {
        display: block;
        padding: 10px 20px 10px 40px;
        vertical-align: top;
    }
}

@media #{$medium-and-up} {
    .g-spec {
        display: table-row;

        &:nth-child(even) {
            background-color: #f1f1f1;
        }

        .g-spec-label {
            font-size: 18px;
            display: table-cell;
            padding: 20px;
            border-right: 1px solid #dfdedf;
            border-bottom: 0;
            vertical-align: top;
        }

        .g-spec-content {
            display: table-cell;
            padding: 20px;
            vertical-align: top;
        }
    }
}
