.fillBlack {
    fill: #000;
}

.fillBlue {
    fill: $colorBlue;
}

.fillGray {
    fill: $colorGray;
}

.fillGrayLight {
    fill: $colorGrayLighter;
}

.fillRed {
    fill: $colorRed;
}

.fillWhite {
    fill: #fff;
}

.fillGreen {
    fill: $colorGreen
}

.fillBurntOrange {
    fill: #9e0502;
}

.fillBlue {
    fill: $colorBlue;
}

.fillDarkBlue {
    fill: #2c4656;
}

.fillYellow {
    fill: #e6a23c !important;
}

svg.icon {
    /* fill: currentColor; */
    /* height: 1em; */
    margin-bottom: 0.125em;
    vertical-align: middle;
    /* width: 1em; */
}

svg.icon-spin {
    animation: icon-spin 2s infinite linear;
}

@keyframes icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
